body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.timer-container {
  text-align: center;
}

#countdown {
  font-size: 60px;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group input {
  width: 60px;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  margin: 0 5px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}
